{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}InvestAllies{% endblock %}</title>

  {% block meta %}{% endblock %}

  <link rel="stylesheet" href="{% static 'app/css/base4.css' %}">
  {% block extracss %}{% endblock %}
</head>

<body id="top">
  <div class="topbar">
    <div class="topbar__left">
      <a href="{% url 'app:gold_calculator' %}" class="topbar__link">Calculadora de Oro</a>
      <div class="topbar__divider"></div>
      <a href="{% url 'app:fuel_calculator' %}" class="topbar__link">Calculadora de Combustible</a>
    </div>
    <a class="topbar__right" href="{% url 'app:home' %}">
      <span>INVEST ALLIES</span>
    </a>
  </div>

  <header class="navbar">
    <div class="navbar__menu">
      <img src="{% static 'svg/menu.svg' %}" alt="menu" class="navbar__menu-btn">
    </div>

    <div class="navbar__center">
      <a class="navbar__center-logo-link" href="{% url 'app:home' %}">
        <img src="{% static 'svg/logo.svg' %}" alt="logo" class="navbar__center-logo">
      </a>
      <a class="navbar__center-title-link" href="{% url 'app:home' %}">
        <h1 class="navbar__center-title">INVEST ALLIES</h1>
      </a>
    </div>

    <nav class="desktop-menu">
      <ul class="desktop-menu__list">
        <li class="desktop-menu__item"><a href="{% url 'app:home' %}" class="desktop-menu__link">Inicio</a></li>
        <li class="desktop-menu__item"><a href="{% url 'app:gold_index' %}" class="desktop-menu__link">Oro Físico</a>
        </li>
        <li class="desktop-menu__item"><a href="{% url 'app:fuel_index' %}" class="desktop-menu__link">Fuel</a></li>
        <li class="desktop-menu__item"><a href="{% url 'app:offshore_index' %}" class="desktop-menu__link">Offshore</a>
        </li>
        <li class="desktop-menu__item"><a href="{% url 'app:legal_index' %}" class="desktop-menu__link">Legal &
            Bancario</a></li>
        <li class="desktop-menu__item desktop-menu__toggle">
          <a href="{% url 'app:investments_index' %}" class="desktop-menu__link">Inversión por País</a>
          <ul class="desktop-menu__submenu">
            <li class="desktop-menu__submenu-item"><a href="{% url 'app:investments_index' %}"
                class="desktop-menu__submenu-link">España</a></li>
            <li class="desktop-menu__submenu-item"><a href="{% url 'app:investments_index' %}"
                class="desktop-menu__submenu-link">Dubai</a></li>
            <li class="desktop-menu__submenu-item"><a href="{% url 'app:investments_index' %}"
                class="desktop-menu__submenu-link">Marruecos</a></li>
            <li class="desktop-menu__submenu-item"><a href="{% url 'app:investments_index' %}"
                class="desktop-menu__submenu-link">Bali</a>
            </li>
            <li class="desktop-menu__submenu-item"><a href="{% url 'app:investments_index' %}"
                class="desktop-menu__submenu-link">Mali</a>
            </li>
            <li class="desktop-menu__submenu-item"><a href="{% url 'app:investments_index' %}"
                class="desktop-menu__submenu-link">Zanzibar</a></li>
          </ul>
        </li>
      </ul>
    </nav>

    <div class="navbar__language">
      <button class="navbar__language-btn" type="button">
        <img src="{% static 'svg/lang.svg' %}" alt="idiomas" class="navbar__language-icon">
        <p class="navbar__language-current">ES</p>
        <img src="{% static 'svg/arrow_down.svg' %}" alt="flecha" class="navbar__language-arrow">
      </button>

      <nav class="language-menu">
        <ul class="language-menu__list">
          <li class="language-menu__item"><img src="{% static 'img/eeuu.jpg' %}" alt=""><a href="?lang=en"
              class="language-menu__link">English</a></li>
          <li class="language-menu__item"><img src="{% static 'img/arabe.jpg' %}" alt=""><a href="?lang=ar"
              class="language-menu__link">العربية</a></li>
          <li class="language-menu__item"><img src="{% static 'img/germany.jpg' %}" alt=""><a href="?lang=de"
              class="language-menu__link">Deutsch</a></li>
          <li class="language-menu__item"><img src="{% static 'img/france.jpg' %}" alt=""><a href="?lang=fr"
              class="language-menu__link">Français</a></li>
          <li class="language-menu__item"><img src="{% static 'img/rusia.jpg' %}" alt=""><a href="?lang=ru"
              class="language-menu__link">Русский</a></li>
          <li class="language-menu__item"><img src="{% static 'img/china.jpg' %}" alt=""><a href="?lang=zh"
              class="language-menu__link">中文</a></li>
        </ul>
      </nav>
    </div>

    <nav class="mobile-menu">
      <ul class="mobile-menu__list">
        <li class="mobile-menu__item"><a href="{% url 'app:home' %}" class="mobile-menu__link">Inicio</a></li>
        <li class="mobile-menu__item"><a href="{% url 'app:gold_index' %}" class="mobile-menu__link">Oro Físico</a></li>
        <li class="mobile-menu__item"><a href="{% url 'app:fuel_index' %}" class="mobile-menu__link">Fuel</a></li>
        <li class="mobile-menu__item"><a href="{% url 'app:offshore_index' %}" class="mobile-menu__link">Offshore</a>
        </li>
        <li class="mobile-menu__item"><a href="{% url 'app:legal_index' %}" class="mobile-menu__link">Legal &
            Bancario</a></li>
        <li class="mobile-menu__item">
          <a href="{% url 'app:investments_index' %}" class="mobile-menu__link">Inversión por País</a>
          <ul class="mobile-menu__submenu">
            <li class="mobile-menu__submenu-item"><a href="{% url 'app:investments_index' %}"
                class="mobile-menu__submenu-link">España</a></li>
            <li class="mobile-menu__submenu-item"><a href="{% url 'app:investments_index' %}"
                class="mobile-menu__submenu-link">Dubai</a>
            </li>
            <li class="mobile-menu__submenu-item"><a href="{% url 'app:investments_index' %}"
                class="mobile-menu__submenu-link">Marruecos</a></li>
            <li class="mobile-menu__submenu-item"><a href="{% url 'app:investments_index' %}"
                class="mobile-menu__submenu-link">Bali</a>
            </li>
            <li class="mobile-menu__submenu-item"><a href="{% url 'app:investments_index' %}"
                class="mobile-menu__submenu-link">Mali</a>
            </li>
            <li class="mobile-menu__submenu-item"><a href="{% url 'app:investments_index' %}"
                class="mobile-menu__submenu-link">Zanzibar</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>

  <div class="m-top-container">
    {% block body %}{% endblock %}
  </div>

  <footer>
    <section class="footer--desktop">
      <!-- Row 1 -->
      <div class="footer__top">
        <a class="footer__logo-link" href="#top">
          <img src="{% static 'svg/logo.svg' %}" alt="logo">
          <h1>INVEST ALLIES</h1>
        </a>
        <div class="footer__search">
          <div class="footer__search-input">
            <img src="{% static 'svg/search.svg' %}" alt="search icon">
            <input type="text" placeholder="Búsqueda...">
          </div>
          <button type="submit">Buscar</button>
        </div>
      </div>

      <!-- Row 2 -->
      <div class="footer__middle">
        <div class="footer__column">
          <h3 class="footer__column-title">Inversión por País</h3>
          <ul class="footer__column-list">
            <li><a href="#inversion-españa" class="footer__column-link">España</a></li>
            <li><a href="#inversion-dubai" class="footer__column-link">Dubai</a></li>
            <li><a href="#inversion-marruecos" class="footer__column-link">Marruecos</a></li>
            <li><a href="#inversion-mali" class="footer__column-link">Mali</a></li>
            <li><a href="#inversion-bali" class="footer__column-link">Bali</a></li>
            <li><a href="#inversion-zanzibar" class="footer__column-link">Zanzibar</a></li>
          </ul>
        </div>

        <div class="footer__column">
          <h3 class="footer__column-title">Oro y Energía</h3>
          <ul class="footer__column-list">
            <li><a href="#oro-fisico" class="footer__column-link">Oro Físico</a></li>
            <li><a href="#calculadora-lbma" class="footer__column-link">Calculadora LBMA</a></li>
            <li><a href="#calculadora-fuel" class="footer__column-link">Calculadora FUEL</a></li>
          </ul>
        </div>

        <div class="footer__column">
          <h3 class="footer__column-title">Offshore y Legal</h3>
          <ul class="footer__column-list">
            <li><a href="#zonas-offshore" class="footer__column-link">Zonas Offshore</a></li>
            <li><a href="#legal-inversiones" class="footer__column-link">Legal para Inversiones</a></li>
            <li><a href="#bancario-internacional" class="footer__column-link">Bancario Internacional</a></li>
          </ul>
        </div>

        <div class="footer__column">
          <h3 class="footer__column-title">Servicios</h3>
          <ul class="footer__column-list">
            <li><a href="#consultoria" class="footer__column-link">Consultoría</a></li>
            <li><a href="#legal-inversiones2" class="footer__column-link">Legal para Inversiones</a></li>
            <li><a href="#creacion-empresas" class="footer__column-link">Creación de Empresas</a></li>
          </ul>
        </div>

        <div class="footer__column">
          <h3 class="footer__column-title">Síguenos en Nuestras Redes Sociales</h3>
          <div class="footer__social-links">
            <a href="#facebook"><img src="{% static 'svg/facebook.svg' %}" alt="facebook"></a>
            <a href="#twitter"><img src="{% static 'svg/twitter.svg' %}" alt="twitter"></a>
            <a href="#youtube"><img src="{% static 'svg/youtube.svg' %}" alt="youtube"></a>
          </div>
        </div>
      </div>

      <!-- Row 3 -->
      <div class="footer__bottom">
        <p class="footer__copyright">@2026 InvestAllies. Todos los derechos reservados</p>
        <div class="footer__links">
          <a href="#politica-uso" class="footer__link">Política de Uso</a>
          <a href="#terminos-condiciones" class="footer__link">Términos y Condiciones</a>
          <a href="#nosotros" class="footer__link">Nosotros</a>
        </div>
      </div>
    </section>

    <section class="footer">
      <a class="footer__title" href="#top">
        <img src="{% static 'svg/logo.svg' %}" alt="logo" class="footer__logo">
        <h1>INVEST ALLIES</h1>
      </a>

      <div class="footer__content">
        <div class="accordion">
          <p class="accordion__title">Inversión por País</p>
          <img src="{% static 'svg/Drop-Down-Icon.svg' %}" alt="" class="footer__dropdown-icon">
        </div>
        <div class="accordion__content">
          <p class="accordion__content-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
            tempor incididunt ut labore et
            dolore magna aliqua.</p>
        </div>

        <div class="accordion">
          <p class="accordion__title">Oro & Fuel</p>
          <img src="{% static 'svg/Drop-Down-Icon.svg' %}" alt="" class="footer__dropdown-icon">
        </div>
        <div class="accordion__content">
          <p class="accordion__content-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
            tempor incididunt ut labore et
            dolore magna aliqua.</p>
        </div>

        <div class="accordion">
          <p class="accordion__title">Offshore y Legal</p>
          <img src="{% static 'svg/Drop-Down-Icon.svg' %}" alt="" class="footer__dropdown-icon">
        </div>
        <div class="accordion__content">
          <p class="accordion__content-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
            tempor incididunt ut labore et
            dolore magna aliqua.</p>
        </div>

        <div class="accordion">
          <p class="accordion__title">Servicios</p>
          <img src="{% static 'svg/Drop-Down-Icon.svg' %}" alt="" class="footer__dropdown-icon">
        </div>
        <div class="accordion__content">
          <p class="accordion__content-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
            tempor incididunt ut labore et
            dolore magna aliqua.</p>
        </div>
      </div>

      <div class="footer__policies">
        <p class="footer__policies-text">Términos de uso</p>
        <p class="footer__policies-text">Privacidad</p>
        <p class="footer__policies-text">Cookies</p>
      </div>

      <div class="footer__social">
        <div class="footer__social-container">
          <img src="{% static 'svg/facebook.svg' %}" alt="facebook">
          <img src="{% static 'svg/twitter.svg' %}" alt="twitter">
          <img src="{% static 'svg/youtube.svg' %}" alt="youtube">
          <img src="{% static 'svg/linkedin.svg' %}" alt="linkedin">
        </div>
        <p class="footer__text">@2026 InvestAllies. Todos los derechos reservados</p>
      </div>
    </section>
  </footer>

  <script src="{% static 'app/js/hero_animations.js' %}"></script>
  <script src="{% static 'app/js/mobile_menu.js' %}"></script>
  {% block extrajs %}{% endblock %}
</body>

</html>