{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}InvestAllies{% endblock %}</title>

  {% block meta %}{% endblock %}

  <link rel="stylesheet" href="{% static 'app/css/base4.css' %}">
  {% block extracss %}{% endblock %}
</head>

<body id="top">
  <header id="navbar">
    <div class="navbar_menu">
      <img src="{% static 'svg/menu.svg' %}" alt="menu" id="navbar_menu_icon">
    </div>

    <a id="navbar_center" href="#top">
      <img src="{% static 'svg/logo.svg' %}" alt="logo" id="navbar_center_logo">
      <h1 id="navbar_center_title">INVEST ALLIES</h1>
    </a>

    <div id="navbar_lan">
      <button id="navbar_lang_btn" type="button">
        <img src="{% static 'svg/lang.svg' %}" alt="languajes" id="navbar_lang_globe">
        <p id="navbar_lang_current">ES</p>
        <img src="{% static 'svg/arrow_down.svg' %}" alt="arrow" id="navbar_lang_arrow">
      </button>

      <nav id="language_menu" class="language_menu_closed">
        <ul class="language_menu_list">
          <li><a href="?lang=en">English</a></li>
          <li><a href="?lang=ar">العربية</a></li>
          <li><a href="?lang=de">Deutsch</a></li>
          <li><a href="?lang=fr">Français</a></li>
          <li><a href="?lang=ru">Русский</a></li>
          <li><a href="?lang=zh">中文</a></li>
        </ul>
      </nav>
    </div>

    <nav id="mobile_menu" class="mobile_menu_closed">
      <ul class="mobile_menu_list">
        <li class="mobile_menu_item"><a href="#inicio">Inicio</a></li>
        <li class="mobile_menu_item"><a href="#oro">Oro Físico</a></li>
        <li class="mobile_menu_item"><a href="#fuel">Fuel</a></li>
        <li class="mobile_menu_item"><a href="#offshore">Offshore</a></li>
        <li class="mobile_menu_item"><a href="#legal">Legal & Bancario</a></li>
        <li class="mobile_menu_item mobile_menu_submenu_toggle">
          <a href="#inversion-pais">Inversión por País</a>
          <ul class="mobile_menu_submenu">
            <li><a href="#inversion-españa">España</a></li>
            <li><a href="#inversion-dubai">Dubai</a></li>
            <li><a href="#inversion-marruecos">Marruecos</a></li>
            <li><a href="#inversion-bali">Bali</a></li>
            <li><a href="#inversion-mali">Mali</a></li>
            <li><a href="#inversion-zanzibar">Zanzibar</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </header>

  <section id="body">
    {% block body %}{% endblock %}
  </section>

  <footer>
    <section id="footer_cta">

    </section>

    <section id="footer">
      <a id="footer_title" href="#top">
        <img src="{% static 'svg/logo.svg' %}" alt="logo" id="footer_logo">
        <h1 id="footer_title">INVEST ALLIES</h1>
      </a>

      <div id="footer_container">
        <div class="accordion">
          <p>Inversión por País</p>
          <img src="{% static 'svg/Drop-Down-Icon.svg' %}" alt="" class="footer_container_dropdown_icon">
        </div>
        <div class="accordion_content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
        </div>

        <div class="accordion">
          <p>Oro & Fuel</p>
          <img src="{% static 'svg/Drop-Down-Icon.svg' %}" alt="" class="footer_container_dropdown_icon">
        </div>
        <div class="accordion_content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
        </div>

        <div class="accordion">
          <p>Offshore y Legal</p>
          <img src="{% static 'svg/Drop-Down-Icon.svg' %}" alt="" class="footer_container_dropdown_icon">
        </div>
        <div class="accordion_content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
        </div>

        <div class="accordion">
          <p>Servicios</p>
          <img src="{% static 'svg/Drop-Down-Icon.svg' %}" alt="" class="footer_container_dropdown_icon">
        </div>
        <div class="accordion_content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
        </div>
      </div>

      <div id="footer_policies">
        <p>Terms of use</p>
        <p>Privacy</p>
        <p>Terms of use</p>
      </div>

      <div id="footer_social_net">
        <div id="footer_social_net_container">
          <img src="{% static 'svg/facebook.svg' %}" alt="facebook">
          <img src="{% static 'svg/twitter.svg' %}" alt="twitter">
          <img src="{% static 'svg/youtube.svg' %}" alt="youtube">
          <img src="{% static 'svg/linkedin.svg' %}" alt="linkedin">
        </div>
        <p>@2026 InvestAllies. Todos los derechos reservados</p>
      </div>
    </section>
  </footer>

  <script src="{% static 'app/js/mobile_menu.js' %}"></script>
</body>

</html>