{% extends 'app/base.html' %}
{% load static %}
{% load i18n %}

{% block extracss %}
<link rel="stylesheet" href="{% static 'app/css/home.css' %}">
{% endblock %}

{% block body %}
<div class="hero__image">
  <img class="hero__image-1" src="{% static 'img/hero.jpeg' %}" alt="hero">
  <img class="hero__image-2" src="{% static 'img/hero2.jpg' %}" alt="hero">
  <img class="hero__image-3" src="{% static 'img/hero3.jpg' %}" alt="hero">
  <img class="hero__image-4" src="{% static 'img/hero4.jpg' %}" alt="hero">
  <h1 class="hero__image-title">Invierte en oportunidades reales alrededor del mundo</h1>
  <p class="hero__image-description">Te conectamos con proyectos verificados, análisis transparentes y asesoría
    especializada para que puedas invertir con
    seguridad en los mercados internacionales más prometedores.</p>
  <div class="hero__image-buttons">
    <a class="hero__image-buttons-btn" href="{% url 'app:investments_index' %}">Explorar inversiones</a>
    <a class="hero__image-buttons-btn" href="{% url 'app:services_index' %}">Solicitar asesoría</a>
  </div>
</div>

<section class="page">

  <div class="about__mobile scroll-reveal scroll-fade-up">
    <div class="about__group">
      <div class="about__text-box">
        <p>Información clara y confiable para invertir en mercados internacionales</p>
      </div>
      <img src="{% static 'img/about_us.png' %}" alt="about_us" class="about__image">
    </div>

    <div class="about__group">
      <img src="{% static 'img/about_us2.jpg' %}" alt="about_us" class="about__image">
    </div>

    <div class="about__featured">
      <h2 class="about__featured-title">Confianza, experiencia y transparencia</h2>
      <p class="about__featured-text">
        <b>Confianza, experiencia y transparencia</b>
        Somos un equipo internacional especializado en inversiones globales. Nuestro objetivo es ayudarte a invertir
        con
        claridad, seguridad y estrategias sólidas, basadas en análisis reales y oportunidades verificadas
      </p>
    </div>
  </div>

  <div class="about__desktop scroll-reveal scroll-fade-up">
    <div class="about__desktop-column-left">
      <div class="about__desktop-column-left-top">
        <p class="about__desktop-column-left-top-item">
          Información clara y confiable para invertir en mercados internacionales
        </p>
        <div class="about__desktop-column-left-top-item">
          <img src="{% static 'img/about_us2.jpg' %}" alt="about_us">
        </div>
      </div>

      <img class="about__desktop-column-left-down" src="{% static 'img/about_us.jpg' %}" alt="about_us">
    </div>

    <div class="about__desktop-column-left-right">
      <h2>Confianza, experiencia y transparencia</h2>
      <p>
        Confianza, experiencia y transparencia.
        Somos un equipo internacional especializado en inversiones globales. Nuestro objetivo es ayudarte a invertir
        con
        claridad, seguridad y estrategias sólidas, basadas en análisis reales y oportunidades verificadas.
      </p>
    </div>
  </div>

  <section class="investment scroll-reveal scroll-fade-up">
    <div class="investment__header">
      <div class="investment__title">
        <h1 class="investment__title-text">DESTINOS DE INVERSIÓN</h1>
        <img src="{% static 'svg/decor-arrow.svg' %}" alt="decorative arrow" class="investment__title-arrow">
        <img src="{% static 'svg/location.svg' %}" alt="location icon" class="investment__title-icon">
      </div>

      <div>
        <p class="investment__description">Invierte donde tu capital genera más valor. Accede a oportunidades de
          inversión
          seleccionadas en mercados en
          expansión y
          regiones con alto potencial de crecimiento. Analizamos riesgos, rentabilidades y barreras de entrada para que
          puedas
          tomar decisiones informadas</p>
      </div>
    </div>

    <div class="investment__destinations investment__destinations--mobile">
      <div class="destinations__row">
        <div class="destination-card">
          <img src="{% static 'img/spain.jpg' %}" alt="spain" class="destination-card__image">
          <span class="destination-card__label">España</span>
          <a href="{% url 'app:investments_index' %}" class="destination-card__button">
            <img src="{% static 'svg/ver_mas.svg' %}" alt="Ver más">
          </a>
        </div>
        <div class="destination-card">
          <img src="{% static 'img/dubai.png' %}" alt="dubai" class="destination-card__image">
          <span class="destination-card__label">Dubai</span>
          <a href="{% url 'app:investments_index' %}" class="destination-card__button">
            <img src="{% static 'svg/ver_mas.svg' %}" alt="Ver más">
          </a>
        </div>
      </div>

      <div class="destinations__row">
        <div class="destination-card">
          <img src="{% static 'img/marruecos.jpg' %}" alt="marruecos" class="destination-card__image">
          <span class="destination-card__label">Marruecos</span>
          <a href="{% url 'app:investments_index' %}" class="destination-card__button">
            <img src="{% static 'svg/ver_mas.svg' %}" alt="Ver más">
          </a>
        </div>
        <div class="destination-card">
          <img src="{% static 'img/mali.png' %}" alt="mali" class="destination-card__image">
          <span class="destination-card__label">Mali</span>
          <a href="{% url 'app:investments_index' %}" class="destination-card__button">
            <img src="{% static 'svg/ver_mas.svg' %}" alt="Ver más">
          </a>
        </div>
      </div>

      <div class="destinations__row">
        <div class="destination-card">
          <img src="{% static 'img/bali.png' %}" alt="bali" class="destination-card__image">
          <span class="destination-card__label">Bali</span>
          <a href="{% url 'app:investments_index' %}" class="destination-card__button">
            <img src="{% static 'svg/ver_mas.svg' %}" alt="Ver más">
          </a>
        </div>
        <div class="destination-card">
          <img src="{% static 'img/zanzibar.jpg' %}" alt="zanzibar" class="destination-card__image">
          <span class="destination-card__label">Zanzibar</span>
          <a href="{% url 'app:investments_index' %}" class="destination-card__button">
            <img src="{% static 'svg/ver_mas.svg' %}" alt="Ver más">
          </a>
        </div>
      </div>
    </div>

    <div class="investment__destinations investment__destinations--desktop">
      <div class="destinations__row">
        <div class="destination-card">
          <img src="{% static 'img/spain.jpg' %}" alt="spain" class="destination-card__image">
          <span class="destination-card__label">España</span>
          <a href="{% url 'app:investments_index' %}" class="destination-card__button">
            <img src="{% static 'svg/ver_mas.svg' %}" alt="Ver más">
          </a>
        </div>
        <div class="destination-card">
          <img src="{% static 'img/dubai.png' %}" alt="dubai" class="destination-card__image">
          <span class="destination-card__label">Dubai</span>
          <a href="{% url 'app:investments_index' %}" class="destination-card__button">
            <img src="{% static 'svg/ver_mas.svg' %}" alt="Ver más">
          </a>
        </div>
        <div class="destination-card">
          <img src="{% static 'img/marruecos.jpg' %}" alt="marruecos" class="destination-card__image">
          <span class="destination-card__label">Marruecos</span>
          <a href="{% url 'app:investments_index' %}" class="destination-card__button">
            <img src="{% static 'svg/ver_mas.svg' %}" alt="Ver más">
          </a>
        </div>
      </div>

      <div class="destinations__row">
        <div class="destination-card">
          <img src="{% static 'img/mali.png' %}" alt="mali" class="destination-card__image">
          <span class="destination-card__label">Mali</span>
          <a href="{% url 'app:investments_index' %}" class="destination-card__button">
            <img src="{% static 'svg/ver_mas.svg' %}" alt="Ver más">
          </a>
        </div>
        <div class="destination-card">
          <img src="{% static 'img/bali.png' %}" alt="bali" class="destination-card__image">
          <span class="destination-card__label">Bali</span>
          <a href="{% url 'app:investments_index' %}" class="destination-card__button">
            <img src="{% static 'svg/ver_mas.svg' %}" alt="Ver más">
          </a>
        </div>
        <div class="destination-card">
          <img src="{% static 'img/zanzibar.jpg' %}" alt="zanzibar" class="destination-card__image">
          <span class="destination-card__label">Zanzibar</span>
          <a href="{% url 'app:investments_index' %}" class="destination-card__button">
            <img src="{% static 'svg/ver_mas.svg' %}" alt="Ver más">
          </a>
        </div>
      </div>
    </div>

  </section>

  <section class="articles scroll-reveal scroll-fade-left">
    <div class="articles-title">
      <h1>Artículos destacados</h1>
      <p>Invierte donde tu capital genera más valor. Accede a seleccionamos la información más relevante y los artículos
        que
        están marcando la pauta en el mundo financiero. Descubre las oportunidades ocultas en renta fija, el análisis de
        las
        últimas políticas fiscales y las noticias que realmente afectan tus inversiones.
      </p>
    </div>

    <div class="articles-carousel">
      <button class="articles-carousel__button articles-carousel__button--left" aria-label="Desplazar izquierda">
        <img src="{% static 'svg/left_arrow.svg' %}" alt="flecha izquierda">
      </button>

      <a class="articles-carousel-post" href="{% url 'app:investments_index' %}">
        <img class="articles-carousel-post-main_image" src="{% static 'img/post1.jpg' %}" alt="">
        <div class="articles-carousel-post-content">
          <div class="articles-carousel-post-content-text">
            <h2 class="articles-carousel-post-content-text-author">Domingo, 1 Ene 2023</h2>
            <div class="articles-carousel-post-content-text-heading">
              <p>Análisis de Mercado</p>
              <img src="{% static 'svg/arrow-up-right.svg' %}" alt="icono flecha">
            </div>
            <p class="articles-carousel-post-content-text-text">Descubre los secretos para transformar un equipo de
              inversión y lograr rendimientos excepcionales en mercados volátiles.
            </p>
          </div>

          <div class="articles-carousel-post-content-categories">
            <p class="articles-carousel-post-content-categories-badge">Liderazgo</p>
            <p class="articles-carousel-post-content-categories-badge">Gestión</p>
            <p class="articles-carousel-post-content-categories-badge">Presentación</p>
          </div>
        </div>
      </a>

      <a class="articles-carousel-post" href="{% url 'app:gold_articles' %}">
        <img class="articles-carousel-post-main_image" src="{% static 'img/post2.jpg' %}" alt="">
        <div class="articles-carousel-post-content">
          <div class="articles-carousel-post-content-text">
            <h2 class="articles-carousel-post-content-text-author">Domingo, 1 Ene 2023</h2>
            <div class="articles-carousel-post-content-text-heading">
              <p>Inversión Global</p>
              <img src="{% static 'svg/arrow-up-right.svg' %}" alt="icono flecha">
            </div>
            <p class="articles-carousel-post-content-text-text">Estrategias clave para diversificar tu cartera en
              activos internacionales y proteger tu capital.
            </p>
          </div>

          <div class="articles-carousel-post-content-categories">
            <p class="articles-carousel-post-content-categories-badge">Liderazgo</p>
            <p class="articles-carousel-post-content-categories-badge">Gestión</p>
            <p class="articles-carousel-post-content-categories-badge">Presentación</p>
          </div>
        </div>
      </a>

      <a class="articles-carousel-post" href="{% url 'app:fuel_articles' %}">
        <img class="articles-carousel-post-main_image" src="{% static 'img/post3.jpg' %}" alt="">
        <div class="articles-carousel-post-content">
          <div class="articles-carousel-post-content-text">
            <h2 class="articles-carousel-post-content-text-author">Domingo, 1 Ene 2023</h2>
            <div class="articles-carousel-post-content-text-heading">
              <p>Futuro Energético</p>
              <img src="{% static 'svg/arrow-up-right.svg' %}" alt="icono flecha">
            </div>
            <p class="articles-carousel-post-content-text-text">Tendencias en el mercado de combustibles y la transición
              hacia nuevas fuentes de inversión energética.
            </p>
          </div>

          <div class="articles-carousel-post-content-categories">
            <p class="articles-carousel-post-content-categories-badge">Liderazgo</p>
            <p class="articles-carousel-post-content-categories-badge">Gestión</p>
            <p class="articles-carousel-post-content-categories-badge">Presentación</p>
          </div>
        </div>
      </a>

      <a class="articles-carousel-post" href="{% url 'app:offshore_services' %}">
        <img class="articles-carousel-post-main_image" src="{% static 'img/post3.jpg' %}" alt="">
        <div class="articles-carousel-post-content">
          <div class="articles-carousel-post-content-text">
            <h2 class="articles-carousel-post-content-text-author">Domingo, 1 Ene 2023</h2>
            <div class="articles-carousel-post-content-text-heading">
              <p>Fiscalidad Offshore</p>
              <img src="{% static 'svg/arrow-up-right.svg' %}" alt="icono flecha">
            </div>
            <p class="articles-carousel-post-content-text-text">Guía básica para entender las jurisdicciones offshore y
              cómo optimizar la seguridad jurídica de tus activos.
            </p>
          </div>

          <div class="articles-carousel-post-content-categories">
            <p class="articles-carousel-post-content-categories-badge">Liderazgo</p>
            <p class="articles-carousel-post-content-categories-badge">Gestión</p>
            <p class="articles-carousel-post-content-categories-badge">Presentación</p>
          </div>
        </div>
      </a>

      <button class="articles-carousel__button articles-carousel__button--right" aria-label="Desplazar derecha">
        <img src="{% static 'svg/right_arrow_withe.svg' %}" alt="flecha derecha">
      </button>
    </div>
  </section>

  <section class="opportunities scroll-reveal scroll-fade-right">
    <div class="opportunities-title">
      <h1>Oportunidades Destacadas</h1>
      <h2>Proyectos disponibles ahora mismo</h2>
      <p>Explora una selección de inversiones activas con información clara sobre rentabilidad, riesgo, ubicación y
        documentación
        completa. Cada ficha ha sido verificada y evaluada por nuestro equipo.</p>
    </div>

    <div class="opportunities-carousel">
      <div class="opportunities-carousel-card">
        <div class="opportunities-carousel-card-top">
          <img src="{% static 'img/opp2.jpg' %}" alt="">
          <div class="opportunities-carousel-card-top-location">
            <img src="{% static 'img/location.png' %}" alt="">
            <p>España</p>
          </div>
        </div>
        <div class="opportunities-carousel-card-bottom">
          <div class="opportunities-carousel-card-bottom-text">
            <h2 class="opportunities-carousel-card-bottom-text-title">Residencia de lujo</h2>
            <p class="opportunities-carousel-card-bottom-text-description">“I like being a freelancer because
              you get to work on diverse projects. It’s learning about different subjects that I
              really enjoy.”</p>
          </div>
          <div class="opportunities-carousel-card-bottom-profitability">
            <div class="opportunities-carousel-card-bottom-profitability-container">
              <div class="opportunities-carousel-card-bottom-profitability-container-percentage">
                <p>RENTABILIDAD</p>
                <div class="opportunities-carousel-card-bottom-profitability-container-percentage-container">
                  <h3>8.0%</h3>
                  <span>ANUAL</span>
                </div>
              </div>
              <div class="opportunities-carousel-card-bottom-profitability-container-risk">
                <p>RIESGO</p>
                <div class="opportunities-carousel-card-bottom-profitability-container-risk-type">
                  <img src="{% static 'img/elipse.jpg' %}" alt="">
                  <p>BAJO</p>
                </div>
              </div>
            </div>
            <div class="opportunities-carousel-card-bottom-profitability-account">
              <div class="opportunities-carousel-card-bottom-profitability-account-container">
                <h3>Inversiones desde</h3>
                <p>250,000</p>
              </div>
              <a href="{% url 'app:investments_index' %}"
                class="opportunities-carousel-card-bottom-profitability-account-button">
                <p>Ver Detalles</p>
                <img src="{% static 'svg/right_arrow.svg' %}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="opportunities-carousel-card">
        <div class="opportunities-carousel-card-top">
          <img src="{% static 'img/opp2.jpg' %}" alt="">
          <div class="opportunities-carousel-card-top-location">
            <img src="{% static 'img/location.png' %}" alt="">
            <p>España</p>
          </div>
        </div>
        <div class="opportunities-carousel-card-bottom">
          <div class="opportunities-carousel-card-bottom-text">
            <h2 class="opportunities-carousel-card-bottom-text-title">Residencia de lujo</h2>
            <p class="opportunities-carousel-card-bottom-text-description">“I like being a freelancer because
              you get to work on diverse projects. It’s learning about different subjects that I
              really enjoy.”</p>
          </div>
          <div class="opportunities-carousel-card-bottom-profitability">
            <div class="opportunities-carousel-card-bottom-profitability-container">
              <div class="opportunities-carousel-card-bottom-profitability-container-percentage">
                <p>RENTABILIDAD</p>
                <div class="opportunities-carousel-card-bottom-profitability-container-percentage-container">
                  <h3>8.0%</h3>
                  <span>ANUAL</span>
                </div>
              </div>
              <div class="opportunities-carousel-card-bottom-profitability-container-risk">
                <p>RIESGO</p>
                <div class="opportunities-carousel-card-bottom-profitability-container-risk-type">
                  <img src="{% static 'img/elipse.jpg' %}" alt="">
                  <p>BAJO</p>
                </div>
              </div>
            </div>
            <div class="opportunities-carousel-card-bottom-profitability-account">
              <div class="opportunities-carousel-card-bottom-profitability-account-container">
                <h3>Inversiones desde</h3>
                <p>250,000</p>
              </div>
              <a href="{% url 'app:investments_index' %}"
                class="opportunities-carousel-card-bottom-profitability-account-button">
                <p>Ver Detalles</p>
                <img src="{% static 'svg/right_arrow.svg' %}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="opportunities-carousel-card">
        <div class="opportunities-carousel-card-top">
          <img src="{% static 'img/opp2.jpg' %}" alt="">
          <div class="opportunities-carousel-card-top-location">
            <img src="{% static 'img/location.png' %}" alt="">
            <p>España</p>
          </div>
        </div>
        <div class="opportunities-carousel-card-bottom">
          <div class="opportunities-carousel-card-bottom-text">
            <h2 class="opportunities-carousel-card-bottom-text-title">Residencia de lujo</h2>
            <p class="opportunities-carousel-card-bottom-text-description">“I like being a freelancer because
              you get to work on diverse projects. It’s learning about different subjects that I
              really enjoy.”</p>
          </div>
          <div class="opportunities-carousel-card-bottom-profitability">
            <div class="opportunities-carousel-card-bottom-profitability-container">
              <div class="opportunities-carousel-card-bottom-profitability-container-percentage">
                <p>RENTABILIDAD</p>
                <div class="opportunities-carousel-card-bottom-profitability-container-percentage-container">
                  <h3>8.0%</h3>
                  <span>ANUAL</span>
                </div>
              </div>
              <div class="opportunities-carousel-card-bottom-profitability-container-risk">
                <p>RIESGO</p>
                <div class="opportunities-carousel-card-bottom-profitability-container-risk-type">
                  <img src="{% static 'img/elipse.jpg' %}" alt="">
                  <p>BAJO</p>
                </div>
              </div>
            </div>
            <div class="opportunities-carousel-card-bottom-profitability-account">
              <div class="opportunities-carousel-card-bottom-profitability-account-container">
                <h3>Inversiones desde</h3>
                <p>250,000</p>
              </div>
              <a href="{% url 'app:investments_index' %}"
                class="opportunities-carousel-card-bottom-profitability-account-button">
                <p>Ver Detalles</p>
                <img src="{% static 'svg/right_arrow.svg' %}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="opportunities-carousel-card">
        <div class="opportunities-carousel-card-top">
          <img src="{% static 'img/opp2.jpg' %}" alt="">
          <div class="opportunities-carousel-card-top-location">
            <img src="{% static 'img/location.png' %}" alt="">
            <p>España</p>
          </div>
        </div>
        <div class="opportunities-carousel-card-bottom">
          <div class="opportunities-carousel-card-bottom-text">
            <h2 class="opportunities-carousel-card-bottom-text-title">Residencia de lujo</h2>
            <p class="opportunities-carousel-card-bottom-text-description">“I like being a freelancer because
              you get to work on diverse projects. It’s learning about different subjects that I
              really enjoy.”</p>
          </div>
          <div class="opportunities-carousel-card-bottom-profitability">
            <div class="opportunities-carousel-card-bottom-profitability-container">
              <div class="opportunities-carousel-card-bottom-profitability-container-percentage">
                <p>RENTABILIDAD</p>
                <div class="opportunities-carousel-card-bottom-profitability-container-percentage-container">
                  <h3>8.0%</h3>
                  <span>ANUAL</span>
                </div>
              </div>
              <div class="opportunities-carousel-card-bottom-profitability-container-risk">
                <p>RIESGO</p>
                <div class="opportunities-carousel-card-bottom-profitability-container-risk-type">
                  <img src="{% static 'img/elipse.jpg' %}" alt="">
                  <p>BAJO</p>
                </div>
              </div>
            </div>
            <div class="opportunities-carousel-card-bottom-profitability-account">
              <div class="opportunities-carousel-card-bottom-profitability-account-container">
                <h3>Inversiones desde</h3>
                <p>250,000</p>
              </div>
              <a href="{% url 'app:investments_index' %}"
                class="opportunities-carousel-card-bottom-profitability-account-button">
                <p>Ver Detalles</p>
                <img src="{% static 'svg/right_arrow.svg' %}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="gold_and_fuel scroll-reveal scroll-zoom-in">
    <div class="gold">
      <div class="gold-title">
        <img src="{% static 'svg/pig.svg' %}" alt="pig">
        <h1>Oro Físico</h1>
      </div>
      <div class="gold-price">
        <div class="gold-price-title">
          <p>PRECIO LBMA EN TIEMPO REAL</p>
          <div class="gold-price-title-live">
            <img src="{% static 'img/live.png' %}" alt="live">
            <p>Live</p>
          </div>
        </div>
        <div class="gold-price-price">
          <p>$ 2,321.50</p>
          <div class="gold-price-price-percentaje">
            <img src="{% static 'img/percentaje.png' %}" alt="percentaje">
            <p>+0.8%</p>
          </div>
        </div>
      </div>
      <p class="gold-description">
        Consulta el precio LBMA en tiempo real y utiliza nuestras herramientas para
        calcular el valor de tus inversiones. Compra oro físico certificado con asesoría profesional y almacenamiento
        seguro.
      </p>
      <div class="gold-cta">
        <a class="gold-cta-btn" href="{% url 'app:gold_buy' %}">Comprar Oro</a>
        <a class="gold-cta-btn" href="{% url 'app:gold_calculator' %}">Ver Cotización</a>
      </div>
    </div>

    <div class="fuel">
      <div class="fuel-title">
        <img src="{% static 'svg/fuel.svg' %}" alt="pig">
        <h1>Fuel y mercados energéticos</h1>
      </div>
      <div class="fuel-price">
        <div class="fuel-price-title">
          <p>PRECIO DE FUEL PLATTS</p>
          <div class="fuel-price-title-live">
            <img src="{% static 'img/live.png' %}" alt="live">
            <p>Live</p>
          </div>
        </div>
        <div class="fuel-price-price">
          <p>$ 85.42</p>
          <div class="fuel-price-price-percentaje">
            <img src="{% static 'img/fuel_graphic.png' %}" alt="percentaje">
            <p>-1.2%</p>
          </div>
        </div>
        <img src="{% static 'img/Rectangle.png' %}" alt="line">
      </div>
      <p class="fuel-description">
        Mantente al día con los precios de Fuel Platts en tiempo real y optimiza tus operaciones energéticas.
        Analizamos las fluctuaciones del mercado para ofrecerte las mejores oportunidades de suministro y logística.
      </p>
      <div class="fuel-cta">
        <a class="fuel-cta-btn" href="{% url 'app:fuel_index' %}">Ver Precios</a>
        <a class="fuel-cta-btn" href="{% url 'app:fuel_calculator' %}">Ver Cotización</a>
      </div>
    </div>
  </section>

  <section class="more_info scroll-reveal scroll-fade-up">
    <div class="more_info-offshore">
      <img class="more_info-offshore-main_img" src="{% static 'img/offshore.jpg' %}" alt="offshore">
      <div class="more_info-offshore-content">
        <h2>Zonas Offshore</h2>
        <h3>Estructuras internacionales con seguridad jurídica.</h3>
        <p>
          Analizamos las mejores jurisdicciones offshore para optimizar la
          fiscalidad de tus inversiones, proteger activos y operar globalmente con cumplimiento normativo. Te
          acompañamos en cada
          paso: desde la constitución hasta la apertura de cuentas bancarias.</p>
        <a class="more_info-offshore-content-btn" href="{% url 'app:offshore_index' %}">
          <p>Ver Detalles</p>
          <img src="{% static 'img/left_arrow.png' %}" alt="left arrow">
        </a>
      </div>
    </div>

    <div class="more_info-services">
      <div class="more_info-services-calculator">
        <div class="more_info-services-calculator-title">
          <img src="{% static 'img/calc.jpg' %}" alt="">
          <h2>CALCULADORAS Y PRECIOS</h2>
        </div>
        <p class="more_info-services-calculator-description">Datos reales para tomar mejores decisiones.</p>
        <ul class="more_info-services-calculator-content">
          <li class="more_info-services-calculator-content-point">Precio Fuel Platts</li>
          <li class="more_info-services-calculator-content-point">Calculadora de metales</li>
          <li class="more_info-services-calculator-content-point">Calculadora de costos de fuel</li>
        </ul>
        <a class="more_info-offshore-content-btn" href="{% url 'app:gold_calculator' %}">
          <p>Ver Servicio</p>
          <img src="{% static 'img/left_arrow.png' %}" alt="left arrow">
        </a>
      </div>

      <div class="more_info-services-calculator">
        <div class="more_info-services-calculator-title">
          <img src="{% static 'img/puzzle.jpg' %}" alt="">
          <h2>Acompañamiento integral para tus inversiones</h2>
        </div>
        <p class="more_info-services-calculator-description">Datos reales para tomar mejores decisiones.</p>
        <ul class="more_info-services-calculator-content">
          <li class="more_info-services-calculator-content-point">Consultoría personalizada</li>
          <li class="more_info-services-calculator-content-point">Análisis de rentabilidad y riesgo</li>
          <li class="more_info-services-calculator-content-point">Creación de empresas (incluye offshore)</li>
          <li class="more_info-services-calculator-content-point">Asesoría legal internacional</li>
          <li class="more_info-services-calculator-content-point">Asesoría bancaria global</li>
          <li class="more_info-services-calculator-content-point">Gestión de proyectos de inversión</li>
        </ul>
        <a class="more_info-offshore-content-btn" href="{% url 'app:services_index' %}">
          <p>Ver Servicio</p>
          <img src="{% static 'img/left_arrow.png' %}" alt="left arrow">
        </a>
      </div>
    </div>

    <div class="more_info-offshore">
      <img class="more_info-offshore-main_img" src="{% static 'img/balanza.png' %}" alt="offshore">
      <div class="more_info-offshore-content">
        <h2>INFORMACIÓN LEGAL, JUDICIAL Y BANCARIA</h2>
        <h3>La base legal para invertir sin incertidumbre</h3>
        <p>
          Accede a guías claras sobre visados de inversión, normativa
          internacional, fiscalidad en múltiples países y requisitos bancarios. Aprende cómo mover capital
          correctamente, abrir
          cuentas y cumplir con regulaciones globales.</p>
        <a class="more_info-offshore-content-btn" id="offshore-btn" href="{% url 'app:offshore_jurisdictions' %}">
          <p>Explorar Zona Offshore</p>
          <img src="{% static 'img/left_arrow.png' %}" alt="left arrow">
        </a>
      </div>
    </div>
  </section>
</section>

<img class="wave" src="{% static 'svg/Wave.svg' %}" alt="">

<section class="form scroll-reveal scroll-fade-up">
  <div class="form-form">
    <h1 class="form-form-title">Formulario de Contacto</h1>
    <div class="form-form-field">
      <label for="">Nombre y Apellidos</label>
      <input type="text">
    </div>
    <div class="form-form-field">
      <label for="">Correo electrónico</label>
      <input type="email">
    </div>
    <div class="form-form-field">
      <label for="">Mensaje</label>
      <textarea></textarea>
    </div>
    <button class="form-form-btn">
      <p>Enviar</p>
      <img src="{% static 'svg/form_right_arrow.svg' %}" alt="flecha enviar">
    </button>
  </div>
  <img class="form-img" src="{% static 'img/form.png' %}" alt="">
</section>
{% endblock %}